:root {
    --primary-blue: #1AA1DB;
    --primary-gray: #232233;
    --primary-background: rgb(17 24 39);
  }

  
/* Experience */
.experience-container {
    display: flex;
    justify-content: center;
    width: fit-content;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.experience-mask-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 80%;
    padding-left: 10vw;
    padding-right: 10vw;
    gap: 4rem;
    overflow-x: scroll;
    overscroll-behavior-inline: contain;
    scroll-snap-type: x mandatory;
    width: 85%;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    
  }

  .experience-mask-content::-webkit-scrollbar {
    
    width: 70%;
    height: 0.2rem;
  }
  
  .experience-mask-content::-webkit-scrollbar-track {
    background: var(--primary-gray);
    border-radius: 100vw;
  }
  
  .experience-mask-content::-webkit-scrollbar-thumb {
    background: var(--primary-blue);
    border-radius: 100vw;
  }
  
  .experience {
    scroll-snap-align: center;
    flex: 0 0 auto;
    margin-bottom: 1rem;
  }
  
  .experience-page-title {
    background-color: var(--primary-background);
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5rem;
    padding: 0.75rem 0.75rem;
    z-index: 10;
  }
  
  .experience-card {
    background-color: var(--primary-gray);
    width: 340px;
    height: 60vh;
  }
  
  .experience-page {
    background-color: var(--primary-gray);
    height: min(70vh, 600px);
  }
  
  .experience-title {
    color: var(--primary-blue);
  }
  
.experience-link {
  background-color: var(--primary-blue);
  font-weight: 500;
}

  .experience-scroll-button {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 50%;
    background-color: white;
    opacity: 0.25;
    transform: translateY(-50%);
    z-index: 2;
  }

  .experience-scroll-button-left {
    left: 7.5%;
  }

  .experience-scroll-button-right {
    right: 7.5%;
  }

  .hover-cursor {
    animation: circle 2s forwards infinite;
  animation-timing-function: linear;
  }

  @keyframes circle { 
    0% { 
        transform: rotate(0deg)  
              translateY(50px) rotate(0deg); 
    } 

    100% { 
        transform: rotate(-360deg)  
              translateY(50px) rotate(360deg); 
    } 
}