:root {
    --primary-blue: #1AA1DB;
    --primary-gray: #232233;
    --primary-background: rgb(17 24 39);
  }

/* Contact form */

.contact-form {
    background-color: var(--primary-gray);
    color: aliceblue;
}

.form-header {
    color: var(--primary-blue);
}

.form-button {
    background-color: var(--primary-blue) !important;
}

.topButton {
    background-color: var(--primary-blue);
    width: 50px;
    height: 50px;
}

.contact-method {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    width: fit-content;
    height: 56px;
    border-radius: 31px;
    background-color: var(--primary-gray);
}

.contact-name {
    overflow: hidden;
    white-space: nowrap;
    max-width: 0;
    transition: max-width 0.3s;
}

.contact-method:hover .contact-name {
    max-width: 150px;
    margin-left: 8px;
}