:root {
    --primary-blue: #1AA1DB;
    --primary-gray: #232233;
    --primary-background: rgb(17 24 39);
  }

.navbar-element {
  transition: background-color 0.5s ease;
}

.navbar-element:hover {
    background-color: var(--primary-blue);
}

.active {
  background-color: var(--primary-blue);
}