.project-card {
    background-color: var(--primary-gray);
}

.card-content {
    transition: all 0.3s;
}

.project-title {
    color: var(--primary-blue);
}

.project-more-btn {
    background-color: var(--primary-blue);
}