@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Judson&display=swap');
@import url("/styles/components/footer.css");
@import url("/styles/components/navbar.css");
@import url("/styles/components/star.css");

/* Scrolling vertical snap */

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: 'Geologica', sans-serif;
  font-family: 'Judson', serif;
  letter-spacing: 0.1rem;
  color: white;
  background-color: black;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  padding: 0.5rem 1rem;
  font-weight: bold;
}


:root {
  --primary-blue: #1AA1DB;
  --primary-gray: #333333;
}

/* Make custom scrollbar */
main {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main div {
  z-index: 0;
}

main::-webkit-scrollbar {
  display: none !important;
}

/* Main page */
.page {
  width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.main-page {
  position: relative;
  top: 15vh;
  left: 18vw;
}

.main-name {
  color: var(--primary-blue);
  font-size: 8.5rem;
  width: 26rem;
  line-height: 10rem;
  font-weight: 500;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 1rem;
  width: 30rem;
}

/* Contact form */

.contact-form {
  background-color: #1f1f1f;
}

.form-header {
  color: var(--primary-blue);
}

.form-button {
  background-color: var(--primary-blue);
}

.topButton {
  background-color: var(--primary-blue);
  width: 50px;
  height: 50px;
}